body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: #d10000;
    text-align: center;
    height: 100%;
    margin-top: 6%;
    font-size: 18px;
}

.wrapper {
    width: 90%;
    max-width: 640px;
    margin: 0 auto;
}

canvas {
    color: #d10000;
    border: #d10000 solid 1px;
    padding: 15px;
}

h1 {
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
}
h1 {
    font-size: 2.6em;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}

Button {
    font-family: "Montserrat", sans-serif;
    background: white;
    border-radius: 5px;
    border: solid 2px #d10000;
    cursor: pointer;
    color: #d10000;
    width: 35px;
    height: 35px;
    margin: 0 10px 10px 0;
    outline: none;
}

Button:hover {
    transition: 0.5s;
    background: #d10000;
    border: solid 1px #d10000;
    color: white;
}

.selected {
    background: white;
    border: solid 1px #3d3d3d;
    color: #3d3d3d;
}

.resetButton {
    border-radius: 10px;
    background: white;
    color: #d10000;
    border: solid 2px #d10000;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    width: 180px;
    height: 50px;
    margin: 20px 10px 10px 0;
    outline: none;
}

.resetButton:hover {
    transition: 0.5s;
    background: #d10000;
    border: solid 1px #d10000;
    color: white;
}

.playAgain {
    border-radius: 10px;
    background: #d10000;
    color: white;
    border: solid 2px #d10000;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    width: 180px;
    height: 50px;
    margin: 20px 10px 10px 0;
    outline: none;
}

.playAgain:hover {
    transition: 0.5s;
    background: white;
    border: solid 1px #d10000;
    color: #d10000;
}

#answerPlaceholder {
    margin: 24px 0;
    font-weight: bold;
    font-size: 2.2rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 200ms ease-in-out;
    width: 90%;
    max-width: 640px;
    transform: translate(-50%, -50%) scale(1);
}

.details {
    font-size: 1.6rem;
    padding: 30px 15px;
}

.gameStatus {
    font-size: 2.2rem;
    font-weight: bold;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.status {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    width: 120px;
}

.talers {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    width: 120px;
}

.heartIcon {
    background: url('./icons/heartIcon.svg');
    width: 40px;
    height: 40px;
    margin: 0 16px;
}

.talerIcon {
    background: url('./icons/talerIcon.svg');
    height: 40px;
    width: 40px;
    margin: 0 16px;
}
