:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-family: $main-font;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: $text-color;
}

body {
  min-width: 350px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}