//Colors variables
$bright-red: #DD0426;
$deep-purple-black: #0F0220;
$white: #FFF;

//Font variable
$font: 'Exo 2', sans-serif;

$radius: 4px;

$brand-color: $bright-red;
$text-color: $deep-purple-black;
$btn-text-color: $white;
$btn-radius: $radius;
$main-font: $font;