@import "vars.scss";
@import "fonts.scss";
@import "global.scss";

.button {
  color: $btn-text-color;
  width: 11.25rem;
  height: 3.75rem;
  background-color: $brand-color;
  border-radius: $btn-radius;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
  &_active {
    background-color: darken($color: $brand-color, $amount: 10);
    color: darken($color: $btn-text-color, $amount: 10);
  }
}

.media-object {
  display: flex;
  align-items: start;
  > * + * {
    margin-left: 1.67em;
  }
  &__title {
    margin-top: 0;
    font-size: 1.56em;
    font-weight: 700;
  }
}

.social-networks-bar {
  list-style: none;
  display: flex;
  padding-left: 0;
  &_card {
    > * + * {
      margin-left: 0.67em;
    }
  }
  &_menu {
    > * + * {
      margin-left: 1.33em;
    }
  }
}
