@import "vars.scss";
@import "fonts.scss";
@import "global.scss";

.button {
  color: $btn-text-color;
  width: 11.25rem;
  height: 3.75rem;
  background-color: $brand-color;
  border-radius: $btn-radius;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
  &_active {
    background-color: darken($color: $brand-color, $amount: 10);
    color: darken($color: $btn-text-color, $amount: 10);
  }
}

.media-object {
  display: flex;
  align-items: start;
  > * + * {
    margin-left: 1.67em;
  }
  &__title {
    margin-top: 0;
    font-size: 1.56em;
    font-weight: 700;
  }
}

.social-networks-bar {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: flex-start;
  margin-right: 3.75rem;
  &_card {
    > * + * {
      margin-left: 0.67em;
    }
  }
  &_menu {
    > * + * {
      margin-left: 1.33em;
    }
  }
}

.header {
  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2.5rem;
  }
}
.logo-link {
  margin-right: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75rem;
  line-height: 1.2;
  font-weight: 700;
  color: $brand-color;
}

.section {
  &_intro {
    margin-top: 8.125rem;
    margin-bottom: 17rem;
    .section__content {
      max-width: 60%;
    }
  }
  &_functions {
    margin-bottom: 6.25rem;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  color: $text-color;
  line-height: 1;
  font-weight: 700;
  &_main {
    font-size: 4rem;
    > span {
      color: $brand-color;
    }
  }
  &_secondary {
    font-size: 3rem;
  }
}

.description {
  opacity: 0.5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: auto;
  grid-gap: 2%;
  margin-top: 4rem;
}
