include modules/_modules

header.header
    .container
        .header__inner
            a.logo-link(href="https://github.com/Ratio-Belarus")
                img.logo(src="assets/logo-icon.svg")
                p.logo-text Рацыя
            +social-networks-bar({
                twitter: "https://twitter.com",
                instagram: "https://www.instagram.com",
                email: "https://www.google.com"
            }, "menu")
            +button("Далучыцца")