head
    style
         include ../styles/_fonts.scss
         include ../styles/_global.scss
         include ../styles/_vars.scss
         include ../styles/index.scss
    meta(charset='UTF-8')
    link(rel='shortcut icon' type='image/x-icon' href='./favicon.ico')
    title Рацыя