include pug/modules/_modules

doctype html
include pug/_head
include pug/_header
main.main
    .container
        .main__inner
            .section.section_intro
                .section__content
                    h1.title.title_main 
                        | Мабільная праграма для вывучэння 
                        span беларускай 
                        | мовы
                    p.description
                        | Каму мы патрэбныя, калі не сабе?! Дакладна не саве Дуалінга.
                        | У кастрычніку 2022 года мы сабралі каманду валанцёраў і пачалі 
                        | рабіць мабільную праграму, каб вывучаць родную мову і перайсці на 
                        | яе ў штодзённым жыцці было прасцей.
                    +button("Далучыцца")
            .section.section_functions
                .section_content
                    h2.title.title_secondary Функцыі
                    .grid
                        -
                            let functions = [
                                {
                                    img: "teacher-icon.svg",
                                    title: "Правілы і словы.",
                                    text: "Урокі сабраныя па тэмам лексікі: Сям’я, Кватэра, Крама і г.д. Таксама ў кожным уроке ёсць адпаведныя правілы граматыкі."
                                },
                                                                {
                                    img: "training-icon.svg",
                                    title: "Практыка.",
                                    text: "Пасля кожнага ўрока Вы можаце прайсці да яго практыкаванні, каб праверыць наколькі добра вывучылі ўрок."
                                },
                                {
                                    img: "bonus-icon.svg",
                                    title: "Узнагарода.",
                                    text: "Атрымлівайце бонусы за правільна выкананыя практыкаванні і штодзённую практыку без перапынкаў."
                                },
                                {
                                    img: "medal-icon.svg",
                                    title: "Лідарства.",
                                    text: "Кожны тыдзень Вы зможаце паспаборнічаць з астатнімі карыстальнікамі праграмы па колькасці атрыманых зорак."
                                },
                            ];
                        each elem in functions
                            +media-object(elem)
            .section.section_team
                .section__content
                    h2.title.title_secondary Каманда
                    .grid
                        -
                            let team = [
                                {
                                    img: "user-img-1.jpg",
                                    name: "Нік",
                                    speciality: "Аўтар урокаў",
                                    social_networks: {
                                        twitter: "https://twitter.com",
                                        telegram: "https://web.telegram.org",
                                        instagram: "https://www.instagram.com"
                                    }
                                },
                                {
                                    img: "user-img-2.jpg",
                                    name: "Алесь Вясёлка",
                                    speciality: "Рэдактар урокаў",
                                    social_networks: {
                                        twitter: "https://twitter.com",
                                        telegram: "https://web.telegram.org"
                                    }
                                },
                                {
                                    img: "user-img-3.jpg",
                                    name: "DzedBaradzed84",
                                    speciality: "Распрацоўшчык (React)",
                                    social_networks: {
                                        twitter: "https://twitter.com",
                                        telegram: "https://web.telegram.org",
                                        instagram: "https://www.instagram.com",
                                        twitch: "https://www.twitch.tv",
                                        github: "https://github.com",
                                        linkedin: "https://www.linkedin.com"
                                    }
                                },
                                {
                                    img: "user-img-default.svg",
                                    name: "Ян Яновіч",
                                    speciality: "Тэсціроўшчык",
                                },
                            ];
                        each elem in team
                            +media-object(elem)
                                if elem.social_networks
                                    +social-networks-bar(elem.social_networks, "card")

    //- +media-object({
    //-     img: "user-img-1.jpg",
    //-     name: "Нік",
    //-     speciality: "Аўтар урокаў",
    //- })
    //- +social-networks-bar({
    //-     twitter: "https://twitter.com",
    //-     telegram: "https://web.telegram.org",
    //-     instagram: "https://www.instagram.com"
    //- }, "card")
