include pug/modules/_modules

doctype html
include pug/_head
div(style='display: flex; justify-content: center; align-items: center; height: 100%;')
    img(src='assets/logo.png' alt='Рацыя' style='height: 60%;')
