include pug/modules/_modules

doctype html
include pug/_head
include pug/_header
    //- +media-object({
    //-     img: "user-img-1.jpg",
    //-     name: "Нік",
    //-     speciality: "Аўтар урокаў",
    //- })
        //- +social-networks-bar({
        //-     twitter: "https://twitter.com",
        //-     telegram: "https://web.telegram.org",
        //-     instagram: "https://www.instagram.com"
        //- }, "card")
