@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;0,700;1,700&display=swap');

:root {
  --font-family:'Exo 2';
}

.text-18 {
  font-size: 1.125rem;
}

.text-28 {
  font-size: 1.75rem;
}

.text-product-red {
  color: #dd0426;
}

.text-wrap {
  white-space: normal;
}

.btn-large.v-btn--size-large {
  min-width: 180px;
}
@media (max-width: 650px) {
  .btn-large.v-btn--size-large {
  min-width: 78px;
}
}

.v-btn.v-btn--density-default {
  height: calc(var(--v-btn-height) + 16px);
}

@media (max-width: 650px) {
  .v-btn.v-btn--density-default {
  height: calc(var(--v-btn-height) + 0px);
}
}